.jumboHeaderImg{
    background-image: url(https://i.pinimg.com/originals/03/4b/58/034b588b27ec7bc95cb7cb072da3fc60.png);

}

.card{
    float: left;
    display: inline;
    margin-left: 2%;
    background-color: whitesmoke;
}

.back{
    background-color: lightgray;
}

.buttonNote{
    margin-left: 2%;
    background-color: #FA785C;
    border-style: solid;
    border-color: darkgray;
}


#saveArticle {
    background-color: salmon;
    border-style: solid;
    border-color: darkgray;
}
#deleteArticle{
    background-color: salmon;
    border-style: solid;
    border-color: darkgray;
}